/*{*/
/*    box-sizing: border-box;*/
/*}*/

body {
    background-color: #173106;

}

h1 {
    color: white;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    margin-top: 10rem;
    margin-bottom: 1rem;
    font-size: 100px;

}

h2 {
    margin-top: auto;
    color: white;
    font-family: "Roboto Light", sans-serif;
    text-align: center;
}

/*.tres {*/
/*    display: flex;*/
/*    width: 50px;*/
/*    !*margin-bottom: 30px;*!*/
/*}*/



.grid-element {

     height: 50px;
     width: 50px;

 }

#lab {


      display: grid;
      flex-wrap: wrap;
      grid-template-columns: repeat(3,1fr);
      /*grid-template-rows: repeat(6,1fr);*/
      margin-left: 40%;
      margin-right: 30rem;
      margin-top: 2rem;
      width:50px;
      height:50px;

  }

.tudo {
    margin-bottom: 30px;
}


